# Java / Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Ruby
*.gem
.bundle/
vendor/bundle/
Gemfile.lock

# Go
go.sum

# Rust
target/
Cargo.lock

# JavaScript / Node
node_modules/
dist/
*.log
package-lock.json
yarn.lock

# Swift
.build/
.swiftpm/
*.xcodeproj
*.xcworkspace

# IDEs
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store

# Build outputs
out/
bin/
